button.tag {
	border-radius: 20px;
}

label.DictEntryHeadword {
	font-size: 24px;
}

label.DictEntryPronunciation {
	font-size: 16px;
}

textview.DictEntryDefinition text {background-color: transparent; }
textview.DictEntryDefinition {background-color: transparent; font-size: 18px;}