label.DictEntryCategory {
	border-radius: 4px;
	border: 1px solid black;
	background: black;
	padding: 4px;
	font-size: 16px;
}

label.DictEntryHeadword {
	font-size: 24px;
}

label.DictEntryPronunciation {
	font-size: 12px;
}

label.DictEntryIndex {
	font-size: 16px;
}

textview.NoBackground text {background-color: transparent; }
textview.NoBackground {background-color: transparent; }
textview.DictEntryMeanings { font-size: 16px; }